

@using (Html.BeginForm())
{
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Nuevo consumo de Aceite</h1>
    </div>


    <div>

        <a class="row-border" href="RegistrarConsumoVehiculo"><p class="lead bg-primary">Texto de prueba de Boostrap</p></a>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

