<div class="form-horizontal">
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">¿Olvidó la contraseña?</h1>
    </div>
    <hr />
    <div id="Formulario">
        <div style="text-align: center;">
            <p>Compruebe el correo electrónico para restablecer la contraseña</p>
        </div>
    </div>
</div>