<div class="form-horizontal">
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Restablecer contraseña</h1>
    </div>
    <hr />
    <div id="Formulario">
        <div style="text-align: center;">
            <p>Se restableció la contraseña exitosamente</p>
        </div>
    </div>
</div>