@model SistemaIndicadoresAmbientales.Models.IndexViewModel

<div class="form-horizontal">
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Configuración de la cuenta</h1>
    </div>
    <hr />
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div id="Formulario">
        <dl class="dl-horizontal">
            <dt>Contraseña:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
