
@{
    ViewBag.Title = "Sesion";
}

<div>
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Sistema Indicadores Ambientales</h1>
    </div>
    <div id="Formulario">
        <div class="Formulario">
            <label class="control-label">Usuario</label>
            <input id="usuario" name="usuario" type="text" class="form-control">
        </div>
        <br /><br /><br />
        <div class="Formulario">
            <label class="control-label col-s">Contraseña</label>
            <input id="contrasena" name="contrasena" type="password" class="form-control">
        </div>
        <br /><br /><br />
        <div>
            <div style="text-align: center;">
                <input value="Ingresar" id="ingresar" name="ingresar" type="button" class="from-control">
            </div>
        </div>
    </div>
</div>

