
<div class="form-horizontal">
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Acerca de</h1>
    </div>
    <hr />
    <br />
    <div id="Formulario">
        <div style="text-align: center;">
            <p>SISTEMA INDICADORES AMBIENTALES (Versión 1.0)<br>Copyright © 2018</p>
        </div>
        <br />
        <div style="text-align: center;">
            <p>El Sistema Indicadores Ambientales nace por la necesidad del ICE Negocio Generación Área Sociambiental Región Huetar, por mejorar el control de los indicadores ambientales en las plantas de generación de la región Huetar.</p>
        </div>
        <br />
        <div style="text-align: center;">
            <p>El desarrollo de este sistema fue realizado por el grupo de trabajo JAB conformado por:<br>Alfonso Brenes Villalobos<br>Bryan Machado Garita<br>Johan Agüero Solano</p>
        </div>
        <br />
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            <div style="text-align: center;">
                <p>Documentación del Sistema Indicadores Ambientales</p>
            </div>
            <div style="text-align: center;">
                <a href="https://drive.google.com/uc?id=1WlcXjyi7m3ipynotZ5NSzJ_Rbs_J8TMh&export=download&authuser=0">Manual de Instalación</a>
            </div>
            <div style="text-align: center;">
                <a href="https://drive.google.com/uc?id=1G3pe2-nAmb_8a9_mwJ58WwunohxJD2r0&export=download&authuser=0">Manual de Usuario</a>
            </div>
            <div style="text-align: center;">
                <a href="https://drive.google.com/uc?id=1HKGHBj0T02WqgmMNlbUk4UYgTbOb28-r&export=download&authuser=0">Manual Técnico</a>
            </div>
        }
    </div>
</div>