<div class="form-horizontal">
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Error al cargar la p&aacute;gina</h1>
    </div>
    <hr />
    <br />
    <div id="Formulario">
        <div style="text-align: center;">
            <img style="max-width: 50%;" src="~/Public/images/error.png">
        </div>
    </div>
</div>