
@{
    ViewBag.Title = "Home";
}

<div>
    <div id="Etiqueta">
        <h1 class="H1-Etiqueta">Sistema Indicadores Ambientales</h1>
    </div>
    <figure style="text-align: center;">
        <img src="~/Public/images/Home.jpg" alt="The Pulpit Rock" width="870" height="350">
    </figure>
</div>